{clje_src_dirs, ["src/main/clojure"]}.
{clje_test_dirs, ["src/test/clojure"]}.

{ deps
, [ { clojerl
    , {git, "https://github.com/jfacorro/clojerl.git", {branch, "master"}}
    }
  , { data_generators
    , {git, "https://github.com/clojerl/data.generators", {branch, "clojerl"}}
    }
  ]
}.

{ plugins
, [ { rebar3_clojerl
    , {git, "https://github.com/clojerl/rebar3_clojerl", {branch, "master"}}
    }
  ]
}.
